*{
    box-sizing: border-box;

}

/*------------------------- Heahder -------------------------*/
header {
    background-color: #1B1A17;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    height: 100px;
}


header h1{
    font-weight: bolder;
    font-family: 'Contrail One', cursive;
    color: aliceblue;
    float: left;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 35px;

}


header nav {
    float: right;
    padding: 0 30px;
    margin-top: 20px;
}


header nav ul li{
    display: inline-block;
    padding: 0 20px;
    font-size: 35px;

}

header nav ul li a{
text-decoration: none;
color : #F0E3CA;

}


/*------------------------- Body -------------------------*/
body{
    font-family: Georgia;
    background-color: #F0E3CA;
    position: relative;
}

body main img{
    
    display: block;
    background-size: cover;
    width: 75%;
    height: 300px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}



/*------------------------- Articles -------------------------*/

#Informations{
    background-color: #FF8303;
    background-size: cover;
    margin-top: 100px;
    width: 100%;
    padding: 10px;
    height: 250px;
}



/*------------------------- Contact Information -------------------------*/
#ContactCard h1{
    font-size: 30px;
    font-family: 'Contrail One', cursive;
    }
#ContactCard{
    display: block;
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
    border-right: 2px black;
    font-size: 20px;
}


#ContactCard a{
    text-decoration: none;
}


/*------------------------- Working Hours Information -------------------------*/

#workingHours h1{
    font-family: 'Contrail One', cursive;
    font-size: 30px;
}


#workingHours{
    display: inline-block;
    position: relative;
    margin-top: 40px;
    margin-left: 50px;
    font-size: 20px;
}


#workingHours p{
    font-family: 'Contrail One', cursive;


}
/*------------------------- Location Information -------------------------*/
#LocationInformations{
    float: right;
    margin: 0 10px;
}

#LocationInformations h1{
     font-size: 30px;
     text-align: left;
     font-weight: bold;
     font-size: 20px;

}

#LocationInformations p{
    font-family: 'Contrail One', cursive;


}

#map{

    position: relative;
    text-align:right;
    margin-top: -40px;



}
