*{
    box-sizing: border-box;

}




/*-------------------------------------------------- ALL PAGES --------------------------------------------------*/

/*------------------------- Header -------------------------*/
header {
    background-color: #1B1A17;
    position: relative;
    top: 0;
    width: 100%;
    padding: 10px;
    height: 100px;
}


header h1{
    font-weight: bolder;
    font-family: 'Contrail One', cursive;
    color: aliceblue;
    float: left;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 35px;

}


header nav {
    float: right;
    padding: 0 30px;
    margin-top: 20px;
}


header nav ul li{
    display: inline-block;
    padding: 0 20px;
    font-size: 35px;

}

header nav ul li a{
text-decoration: none;
color : #F0E3CA;

}

/*-------------------------------------------------- Index File--------------------------------------------------*/

/*------------------------- Body -------------------------*/
body{
    font-family: Georgia;
    background-color: #F0E3CA;
    position: static;
}


/*-------------------------------------------------- Main --------------------------------------------------*/
/*------------------------- Introduction PART -------------------------*/
#Introduction{
    margin-top: 50px;
    display: inline-block;
    position: relative;
}

#Introduction img{
    margin-top: 10px; 
    margin-left: 100px;
    width: 550px;
    height: 300;
    border-radius: 15px;
    
}

#Introduction h1{
    margin-top: 90px;
    margin-left: 100px;
    font-family: 'Contrail One', cursive;
    font-size: 35px;
}
#Introduction p{
    font-family: Georgia;
    margin-left: 100px;
    font-size: 25px;
    
}

/*------------------------- Products PART -------------------------*/
#Products{
    display: block;
    
}
#Products h1{
    position: absolute;
    font-family: 'Contrail One', cursive;
    font-size: 55px;
    top:420px;
    left: 1420px;
}

.Pictures{
    position: absolute;
    top:150px;
    left: 800px;
    border-radius: 3px;
}

/*-------------------------------------------------- Articles --------------------------------------------------*/

#Informations{
    background-color: #FF8303;
    background-size: cover;
    margin-top: 100px;
    width: 100%;
    padding: 10px;
    height: 250px;
}


#ContactCard h1{
    font-size: 30px;
    font-family: 'Contrail One', cursive;
    }
#ContactCard{
    display: block;
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
    border-right: 2px black;
    font-size: 20px;
}


#ContactCard a{
    text-decoration: none;
}


/*------------------------- Working Hours Information -------------------------*/

#workingHours h1{
    font-family: 'Contrail One', cursive;
    font-size: 30px;
}


#workingHours{
    display: inline-block;
    position: relative;
    margin-top: 40px;
    margin-left: 50px;
    font-size: 20px;
}


#workingHours p{
    font-family: 'Contrail One', cursive;


}
/*------------------------- Location Information -------------------------*/
#LocationInformations{
    float: right;
    margin: 0 10px;
}

#LocationInformations h1{
     font-size: 30px;
     text-align: left;
     font-weight: bold;
     font-size: 20px;

}

#LocationInformations p{
    font-family: 'Contrail One', cursive;

}

#map{

    position: relative;
    text-align:right;
    margin-top: -40px;



}



/*-------------------------------------------------- Sales --------------------------------------------------*/


table{

border: solid 1px black;
font-size: 25px;
margin-top: 10px;
margin-left: 50px;
}
th{
font-weight: Bold;
border-right: solid 1px black;
padding: 10px;
}
tr{
    border-bottom:solid 1px black;
}
td{
  border-right: solid 1px black;  
  text-align: center;
}

fieldset {
    border: solid black 1px;
    display: block;
    margin: 50px 50px 50px 50px ;
    font-size: 20px;
    padding: 10px 20px 20px 50px;    

}

#fieldset label {
    

}

#fieldset input {
    
}
#fieldset button {
    
}